


.button-add{
  --background: #dc4c3e;
  --color: white;
}

ion-content {
  --background: #ffffff; /* Fundo branco */
}

ion-header {
  --background: #ffffff; /* Fundo branco para o cabeçalho */
}

ion-toolbar {
  --background: #ffffff;
  display: flex; /* Fundo branco para a barra de ferramentas */
}

ion-title {
  color: #000000; /* Cor do texto preto para contraste */
}

ion-list{
  --background: #ffffff;
  background: none;
}

.tres_pontinhos{
  color:#dc4c3e;
}

ion-checkbox